# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
tests/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
